<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Admission Panel</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <h2>University Admission Portal</h2>
        <h2>Admin</h2>
        <div>
            <a href="/">Apply Now</a>
            <a href="/admin" class="btn">Admin Panel</a>
        </div>
    </nav>
    <main style="max-width: 1200px;">
        <h3>Submitted Admission Applications</h3>
        <table>
            <thead>
                <tr>
                    <th>Applicant Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Selected Course</th>
                    <th>12th %</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="apps-table-body">
                </tbody>
        </table>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>